{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_alta.css') }}">
{% endblock %}

{% if has_permission("socio_destroy") %}
    {% set active_page = "socios" %}
    {% block title %} 
        Editar socio
    {% endblock %}


    {% block content %}
    <div class="container py-5 form_width">
        <h1 class="text-center fw-semibold mb-4">Creando usuario para socio</h1>
        <form name="registerForm needs-validation" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-2">
                <label class="form-label">Nombre de usuario:</label>
                <input class="form-control" type="text" name="username" required>
            </div>
            <div class="mb-2">
                <label class="form-label">Contraseña:</label>
                <input class="form-control" type="password" name="password" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
                <button type="submit" class="btn btn-dark">Dar de alta</button>
                <a class="btn btn-dark" href="{{ url_for('socio.index_socios') }}">Cancelar</a>
            </div>
        </form>
    </div>
    {% endblock %}
{% endif %}