{% if has_permission("socio_index") %}
    <!doctype html>
    <html lang="es">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Listado</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      </head>


        <body>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
            <h1>Listado de socios</h1>
            <div class="container py-5 justify-content-center"> 
                <div class="table table-dark">
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th><strong># Socio</strong></th>
                            <th><strong>Nombre completo</strong></th>
                            <th><strong>Tipo de ID</strong></th>
                            <th><strong>ID</strong></th>
                            <th><strong>Genero</strong></th>
                            <th><strong>Domicilio</strong></th>
                            <th><strong>Telefono</strong></th>
                            <th><strong>Email</strong></th>
                        </tr>
                        </thead>

                        <tbody>
                            
                            {% for socio in socios %}
                            <tr>
                                <td>{{ socio.id }}</td>
                                <td>{{ socio.nombre }} {{ socio.apellido }}</td>
                                <td>{{ socio.tipo_identificacion }}</td>
                                <td>{{ socio.identificacion }}</td>
                                <td>{% if socio.genero == 'Masculino' %}M{% elif socio.genero == 'Femenino' %}F{% else %}Otro{% endif %}</td>
                                <td>{{ socio.domicilio }}</td>
                                <td>{{ socio.telefono }}</td>
                                <td>{{ socio.email }}</td>
                            </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            <style>
                h1 {
                    text-align:center;
                    padding: 10px;
                }
            </style>
            
        </body>
    </html>
{% endif %}