{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_alta.css') }}">
{% endblock %}

{% set active_page = "users" %}

{% if has_permission("user_update") %}
    {% block title %} 
        Editar usuario
    {% endblock %}

    {% from "macros.html" import check_errors %}

    {% block content %}
        <div class="container py-5 form_width">
            <h1 class="text-center fw-semibold mb-4">Editando usuario</h1>
            <form name="registerForm needs-validation" method="POST">
                {{ form.csrf_token }}
                
                <div class="form-group">
                    <div class="mb-2">
                        <div class="d-grid gap-2 gap-md-4 d-md-flex justify-content-md-center">
                            <div class="col">
                                <label for="name" class="form-label">{{ form.name.label }}</label>
                                {{ form.name(class_="form-control", size=32, value=user_to_update.nombre) }}
                                {{ check_errors(form.name) }} 
                            </div>
                            <div class="col">
                                <label for="lastname" class="form-label">{{ form.lastname.label }}</label>
                                {{ form.lastname(class_="form-control", size=32, value=user_to_update.apellido) }}
                                {{ check_errors(form.lastname) }} 
                            </div>
                        </div>  
                    </div>
                    <div class="mb-2">
                        <label for="username" class="form-label">{{ form.username.label }}</label>
                        {{ form.username(class_="form-control", size=32, value=user_to_update.username) }}
                        {{ check_errors(form.username) }}
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label">{{ form.email.label }}</label>
                        {{ form.email(class_="form-control", size=32, value=user_to_update.email) }}
                        {{ check_errors(form.email) }}
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">{{ form.estado.label }}</label>
                        {{ form.estado(class="form-control") }}
                        {{ check_errors(form.estado) }}
                    </div>
                    <div class="mb-3">
                        <label for="roles" class="form-label">{{ form.roles.label }}</label>
                        {{ form.roles(class="form-control") }}
                        {{ check_errors(form.roles) }}
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto py-4">
                    
                    <button type="submit" class="btn btn-dark">
                        {% block button_text %}Editar usuario{% endblock %}
                    </button>
                    <a class="btn btn-dark" href="{{ url_for('user.index_users') }}">Cancelar</a>
                </div>
            </form>
        </div>
    {% endblock %}
{% endif %}