<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<nav class="navbar sticky-top navbar-expand-md bg-light" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('user.index_users')}}">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" width="50" height="50" class="d-inline-block align-text-middle">
            Club Deportivo Villa Elisa
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-1">
          {% if has_permission("user_index") %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'users' }}" aria-current="page" href="{{ url_for('user.index_users') }}">Usuarios</a>
            </li>
          {% endif %}
          {% if has_permission("socio_index") %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'socios' }}" aria-current="page" href="{{ url_for('socio.index_socios') }}">Socios</a>
            </li>
          {% endif %}
          {% if has_permission("payments_index") %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'disciplinas' }}" aria-current="page" href="{{ url_for('disciplinas.disciplinas_listado' )}}">Disciplinas</a>
            </li>
          {% endif %}
          {% if has_permission("discipline_index") %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'pagos' }}" aria-current="page" href="{{ url_for('pagos.searcher' )}}">Pagos</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 0%;">
              {{session.get("username")}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {% if has_permission("profile") %}
                <li><a class="dropdown-item" href="{{ url_for('admin.profile') }}">Perfil</a></li>
              {% endif %}
              {% if has_permission("config") %}
                <li><a class="dropdown-item" href="{{ url_for('admin.configuration') }}">Configuración</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>