@import './base.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 0rem;

  font-weight: normal;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.btn-dark{
  background-color: #3f3f3f;
  color: white;
}

a,
.yellow{
  text-decoration: none;
  color: #b5a369;
  transition: 0.4s;
}

h1 {
  color: white;
}

@media (hover: hover) {
  a:hover {
    background-color: #b5a369;
    color: white  !important;
  }
}